<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
        <button><a href="{% url 'create' %}">글쓰기</a></button>
        {{user.nickname}}
        {% else %}
        <button><a href="{% url 'login' %}">Login</a></button>
        {% endif %}
    </div>
    
</body>
</html>